---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Background from "../components/Background.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const work = [
  {
    name: "Champs Only Staking Hub and Store",
    image: "/champs.png",
    description:
      "Champs Only staking hub to allow s1 holders access to their community benefits.",
  },
  {
    name: "Cyber Gorillaz",
    image: "/cg.png",
    description:
      "Cyber Gorillaz requested an NFT Marketplace with Raffles, Auctions and Direct Purchases using their ERC-20 token CYBER$",
  },
  {
    name: "Hipster Hamsters",
    image: "/hh.png",
    description:
      "Hipster Hamsters is a project focused on bringing out the art community.",
  },
  {
    name: "Voxlink",
    image: "/voxlink.png",
    description:
      "Voxlink was a Cold/Hot wallet tool designed to help secure your assets.",
  },
  // { name: "Champs Only Store", description: "Champs Only store was a token gated Shopify store" },
];

const courses = [
  {
    name: "Learn Blockchain, Solidity, and Full Stack Web3 Development with JavaScript - 32 hour",
    image:
      "https://github.com/smartcontractkit/full-blockchain-solidity-course-js/raw/main/img/blockchain1.png",
    description: [
      'As a full-time web2 full stack developer, I recently embarked on an exciting journey by immersing myself in a 32-hour course titled "Learn Blockchain, Solidity, and Full Stack Web3 Development with JavaScript." You might wonder why I decided to invest so much time in this course, given my existing experience in Web3. Well, the answer lies in my thirst for growth and a solid foundation.',
      "Throughout the course, I found that most of the content acted as a refresher, reinforcing the knowledge I already had in Web3 development. However, I recognized the incredible value of this review, as it validated and solidified my understanding of the subject matter. It laid a robust groundwork on which I could build and expand my expertise in Web3 and Solidity.",
      "While watching the video at 2x speed over several days, I took it upon myself to elevate my learning experience. I created my own starting template, simplifying and standardizing certain aspects where I felt the original content was lacking. This initiative not only deepened my understanding but also provided me with a practical resource that aligns with my preferences as a developer.",
      "I must admit that I chose to skip the last section of the course, which focused on NFT Marketplace development. My rationale behind this decision was simple; my current full-time job centers around web2 full stack development, and my experience and preferences did not align with the beginner-oriented approach in that particular segment.",
      "Now, with the knowledge and confidence gained from the course, I have taken the next step in my journey towards becoming one of the best Solidity and EVM blockchain developers in the Web3 realm. I've uploaded all the code, along with the code I wrote, to GitHub, making it accessible to the community and paving the way for collaborative growth.",
      "I'm thrilled to have laid the foundation for my future in Web3, and this course was just the beginning. I can't wait to see where this path leads me, and I'm excited to continue learning, building, and contributing to the ever-evolving world of blockchain technology,",
    ],
    links: [
      {
        name: "Video",
        icon: "ph-youtube-logo",
        url: "https://www.youtube.com/watch?v=gyMwXuJrbJQ&",
      },
      {
        name: "Code",
        icon: "ph-github-logo",
        url: "https://github.com/NathanDrussell/full-follow-along-fcc",
      },
    ],
  },
];

const contracts = [
  {
    address: "0x729E599c3Ae1775F6C757AA7aCEd6e26552f66cf",
    name: "ERC20",
    description:
      "I created an ERC20 Token to demonstrate my abilities. While no one may use it, it serves as proof of my skills",
  },
  // { address: '0x0000000000000000000000000000000000000000', name: "Small Collection", description: "" },
  // { address: '0x0000000000000000000000000000000000000000', name: "Large Collection", description: "" },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-screen flex bg-slate-50">
    <Background />

    <main
      class="w-screen z-10 flex justify-center items-center min-h-screen text-white flex-col"
    >
      <div
        class="w-full flex justify-center items-center min-h-screen text-white flex-col"
      >
        <div class="w-fit text-center">
          <h1 class="text-2xl md:text-4xl">
            Hi i'm <br />
            <div class="relative">
              <img
                src="/nft.png"
                class="clip-hex w-24 absolute left-0 top-1/2 -translate-y-1/2 -translate-x-full"
                alt="nathan's avatar"
              />
              <span class="font-bold text-5xl md:text-7xl">Nathan Russell</span>
            </div>
          </h1>
          <div class="text-">
            <span class="text-2xl font-bold md:text-xl mr-auto"
              >I'm a blockchain developer</span
            >
          </div>

          <div
            class="flex flex-col md:flex-row items-center gap-4 md:gap-8 justify-center mt-8"
          >
            <a
              href="//twitter.com/NathanRNFT"
              target="_blank"
              class="group w-48 text-white text-opacity-50 hover:text-blue-600 transition-colors"
            >
              <i class="ph-fill ph-twitter-logo md:text-lg text-inherit"></i>
              <span class="md:text-xl font-light text-inherit">Twitter</span>
            </a>
            <a
              href="#work"
              class="group w-48 text-white text-opacity-50 hover:text-blue-600 transition-colors"
            >
              <i class="ph-fill ph-briefcase md:text-lg text-inherit"></i>
              <span class="md:text-xl font-light text-inherit">My work</span>
            </a>
            <a
              href="#contracts"
              class="group w-48 text-white text-opacity-50 hover:text-blue-600 transition-colors"
            >
              <i class="ph-fill ph-scroll md:text-lg text-inherit"></i>
              <span class="md:text-xl font-light text-inherit">Contracts</span>
            </a>
          </div>
        </div>
      </div>

      <div class="max-w-4xl w-full flex-shrink-0 space-y-2 py-16">
        <strong class="font-bold text-4xl">About me</strong>

        <p>
          Hello there! I'm a passionate 25-year-old full stack developer with a
          strong background in web2 technologies. Currently, I hold a full-time
          position in web2 development, but my real passion lies in exploring
          new and emerging technologies. A year ago, I ventured into
          freelancing, but after the web3 market crash, my interest waned.
          However, I've made a firm decision to double down on web3, even amidst
          the bear market, because I believe in its potential.

          <br />
          <br />
          My primary focus now is on showcasing my ability to build and ship remarkable
          products in the web3 space. With extensive experience working with prominent
          names like Champs Only and Cyber Gorillas, I bring a wealth of knowledge
          and expertise to every project I undertake.

          <br />
          <br />
          Leveraging my deep understanding of web2 technologies, I'm determined to
          drive web3 projects forward, creating innovative and robust solutions.
          Collaborating with your team is something I truly enjoy, and my commitment
          is unwavering. In fact, I'm so confident in my skills that I offer a unique
          promise – if you're not 100% satisfied with what I build, you don't pay
          a single cent.

          <br />
          <br />
          Let's join forces and embrace the exciting world of web3 together. I'm
          eager to work hand in hand with you, creating exceptional products and
          making a lasting impact in the decentralized space.
        </p>
      </div>

      <div class="max-w-4xl w-full flex-shrink-0 space-y-2">
        <strong class="font-bold text-4xl">Courses</strong>
        <div class="grid grid-cols-1 gap-4">
          {
            courses.map((course) => (
              <div class="group flex gap-4">
                <div class="w-80 flex-shrink-0">
                  <img src={course.image} alt="" class="rounded mb-2 w-full" />
                  <div class="flex space-x-2 items-center text-sm">
                    <span>links</span>
                    {course.links.map((link) => {
                      return (
                        <a
                          href={link.url}
                          class="bg-black/50 backdrop-blur-md p-1 rounded flex items-center gap-1 hover:bg-black/75"
                        >
                          <i class="ph-fill" class:list={[link.icon]} />
                          {link.name}
                        </a>
                      );
                    })}
                  </div>
                </div>
                <div class="flex flex-col">
                  <h3 class="font-bold uppercase text-xl">{course.name}</h3>
                  {course.description[0]}

                  <div class="flex justify-between w-full">
                    <strong class="inline-flex items-center gap-2">
                      Read more <i class="ph-fill ph-arrow-right" />{" "}
                    </strong>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>

      <div
        id="contracts"
        class="max-w-4xl w-full flex-shrink-0 space-y-2 py-16"
      >
        <strong class="font-bold text-4xl">Contracts</strong>
        <div class="grid grid-cols-2 gap-4">
          {
            contracts.map((contract) => (
              <div class="border rounded p-4">
                <div class="flex justify-between items-center w-full">
                  <strong>{contract.name}</strong>
                  <a
                    href={
                      "https://sepolia.etherscan.io/address/" + contract.address
                    }
                  >
                    <img src="/brand-etherscan.svg" class="w-5" alt="" />
                  </a>
                </div>

                <p class="text-sm">{contract.description}</p>
              </div>
            ))
          }
        </div>
        <br />
        <i class="text-xs">
          This is not the limit of my abilities. I am currently focusing on
          developing many contracts to provide you with undeniable evidence I
          can deliver your projects and exceed your expectations regardless of
          the requirements. You are just here early, I'm building ⛏️.
        </i>
      </div>

      <div id="work" class="max-w-4xl w-full flex-shrink-0 space-y-2 py-16">
        <strong class="font-bold text-4xl">Work</strong>
        <div class="grid grid-cols-2 gap-4">
          {
            work.map((w) => (
              <div class="group">
                <img src={w.image} alt="" class="rounded mb-2 shadow" />
                <strong>{w.name}</strong>
                <p>{w.description}</p>
              </div>
            ))
          }
        </div>
      </div>
    </main>
  </body>
</html>
